.blog-cnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .wrapper-class {
    height: 250px;
  }
  
  .rdw-editor-main {
    height: 80%;
  }
  
  .form-control {
    /* border: 1px solid grey; */
  }
  
  