.loginModalCnt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff65;
  backdrop-filter: blur(3px);
  background-color: #00000042;
}

.loginModal {
  position: absolute;
  top: 50px;
  left: 500px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  /* padding: 0 20px; */
  background-color: #fff;
  width: 400px;
  height: 450px;
  border-radius: 0.75rem;
}
