.section img {
  width: 47rem;
  height: 26rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.blog-banner {
  width: 1020px;
  height: 100vh;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #151f2c;
}

.text-muted {
  color: #1e73be;
}

.text-right a:hover {
  color: #1e73be;
}

.loader {
  position: fixed;
  top: 50vh;
  left: 50%;
  z-index: 99999;
}

.recent-sec {
  padding: 2.5rem;
  height: max-content;
  background-color: rgba(128, 128, 128, 0.331);
  border-radius: 0.5rem;
}

.recent-sec .recent-cnt {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.rcnt-blog {
  display: flex;
  gap: 20px;
  /* flex-direction: column; */
}

.rcnt-blog .thumb-cnt {
  width: 80px;
  height: 80px;
}

.rcnt-blog .thumb-cnt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
}

.post-btn {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 3rem;
  background-color: #025697;
  height: 3.5rem;
  width: 13rem;
  border-radius: 0.3rem;
  margin-top: 1.25rem;
  cursor: pointer;
  transition: color 0.5s step-end;
}

.post-btn:hover {
  background-color: #0a294d;
}

.img-cnt {
  min-width: 40px;
  width: 40px;
  min-height: 40px;
  height: 40px;
}

.img-cnt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
